<%- include('./partials/head') %>
<link href="/styles/index.css" rel="stylesheet">
<script src="scripts/client.js" defer></script>
</head>
<body>
    <%- include('./partials/nav') %>
    <header>
        <img class="logo" src="/assets/anwb-logo.png">
        <h1>Planning deze week</h1>
    </header>
    <main>
        <div class="calendar-and-roles">

            <ul class="roles">
                <% rolesData.data.forEach(({role}) => { %>
                <li class="role-name">
                    <%= role %>
                </li>
                <% }) %>
            </ul>

            <div class="calendar-buttons">
                <button id="prev-button">
                    <img src="/assets/60053-chevron-left.svg"
                </button>
            </div>
            <div id="calendar">
                <% weekData.data.forEach(({week, assignments}) => { %>                    
                    <div class="week">
                        <h2 class="week-nr">
                            <%= week %>
                        </h2>
                        <div class="day">Ma</div>
                        <div class="day">Di</div>
                        <div class="day">Wo</div>
                        <div class="day">Do</div>
                        <div class="day">Vr</div>
                        <div class="day">Za</div>
                        <div class="day">Zo</div>
                        <% if (assignments.length > 0) {
                            assignments[0].anwb_assignments_id.role.forEach(({anwb_roles_id: role}, i) => {
                                const name = assignments[0].anwb_assignments_id.person[i].anwb_persons_id.name; %>
                                <div class="assignment role-<%= role %>"><%= name %></div> 
                            <%});
                        } %>
                        <div class="assignment unassigned role-1">Er is niemand ingedeeld voor deze rol</div>
                        <div class="assignment unassigned role-2">Er is niemand ingedeeld voor deze rol</div>
                        <div class="assignment unassigned role-3">Er is niemand ingedeeld voor deze rol</div>
                        <div class="assignment unassigned role-4">Er is niemand ingedeeld voor deze rol</div>
                        <div class="assignment unassigned role-5">Er is niemand ingedeeld voor deze rol</div>
                    </div>
                <% }) %>
            </div>
            <div class="calendar-buttons">
                <button id="next-button">
                    <img src="/assets/60054-chevron-right.svg">
                </button>
            </div>
        </div>

    </main>
</body>
