<%- include('./partials/head') %>
<link href="/styles/vakanties.css" rel="stylesheet">
<script src="scripts/client.js" defer></script>
</head>
<body>
    <%- include('./partials/nav') %>
    <img class="logo" src="/assets/anwb-logo.png">
    <main>
        <div class="calendar">
            <div class="month">
                <ul>
                    <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li>
                    <li>
                        June<br>
                        <span style="font-size:18px">2024</span>
                    </li>
                </ul>
            </div>
            
            <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
            </ul>
            
            <ul class="days">
                <% for (let day_nr = 1; day_nr <= 30; day_nr++) {
                    let column = (day_nr - 1) % 7 + 1;
                    let row = Math.floor((day_nr - 1) / 7) + 1;
                    %>
                    <li
                        class="day"
                        style="grid-column-start: <%= column %>;grid-row-start: <%= row %>"
                    >
                        <%= day_nr %>
                    </li>
                    <%
                }

                const vacations_per_day = Array(31).fill(1); // fill array with 30 1's

                vakantieData.data.forEach(({name, vacation_days}) => {
                    vacation_days.forEach((vacation_day) => {
                        let day_nr = vacation_day.anwb_vacation_days_id.day.substring(8,10) // get day number
                        let padding_top = vacations_per_day[day_nr] * 1.4;
                        vacations_per_day[day_nr]++;
                        let column = (day_nr - 1) % 7;
                        let row = Math.floor((day_nr - 1) / 7);
                        %>
                        <li
                            class="vacation"
                            style="grid-column-start: <%= column %>;grid-row-start: <%= row %>;padding-top: <%= padding_top %>rem"
                        >
                            <p><%= name %></p>
                        </li>
                        <%
                    })
                }) %>
            </ul>
        </div>
    </main>
</body>